<% include ./partials/header %>

    <div class="ui main text container">
        <div class="ui top attached segment">
            <div class="ui divided items">
                <!-- ITERATE OVER EACH BLOG AND RENDER ITS CONTENT TO THE PAGE -->
                <% blogs.forEach(function(blog) { %>
                    <% if (blog.location && blog.location.includes(location)) { %>
                        <div class="item">
                            <div class="ui medium bordered image">
                                <img src="<%= blog.image %>">
                            </div>
                            <div class="content">
                                <a class="header" href="/blogs/:<%- blog._id %>"><%= blog.title %><span id="time"> posted <%= blog.created.toDateString() %></span></a>
                                <div class="description">
                                    <p><%= blog.body.substring(0, 100) %>...</p>  
                                </div>
                                <hr>
                                <div class="location">
                                    <p><%= blog.location %></p>
                                </div>
                                <div class="extras">
                                    <div onclick="window.location='/blogs/<%= blog._id %>'" class="ui floated green fade animated basic button">
                                        <div class="visible content">Read More</div>
                                        <div class="hidden content">
                                            <i class="unhide icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>    

<% include ./partials/footer %>